/* Colors: #f2f2f2 #666666 #e5e5e5 #15a6ab */
*{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.017em;
	word-spacing: 0.18em;
	line-height: 1.2em;
	margin: 0; padding: 0; border: 0;
}

html{
	height: 100%;
}

body{
	background-color: #e5e5e5;	
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.8em 0;
	padding-top: 0.2em;
}

h2 {
	font-size: 1.3em;
}

p, span, strong{
	color: black;
}

a{
	color: #15a6ab;
}

a:link, a:visited{
	outline: 0;
	-moz-outline: none;
	text-decoration: none;
}

a:hover, a:active{
	text-decoration: underline;
}

hr{
	clear: both;
	color: #e5e5e5;
	background-color: #e5e5e5;
	height: 2px;
	margin: 1.8em 0 0.4em 0;
}

hr.nomargin{
	margin: 1em 0 0.8em 0;
	position: relative; top: -0.6em;
}

.clear{
	clear: both;
	/* If you are using floats, always follow
	them with a clear, or else your container
	won't stretch to contain them! */
}

.clickable{
	cursor: pointer;
}

.faded{
	font-weight: bold;
	color: #e5e5e5;
}

.title{
    font-style: italic;
    font-weight: 400;
}

#main_container{
	width: 962px;
	min-height: 100%;
	height: auto !important; /* for modern browsers */
	height: 100%; /* for IE */
	background-color: #fff;
	margin: 0.3em auto;
	padding: 0.8em 1.2em 1em;
}

html #main_container{
	height: 100%;
}

/* heading area */
#heading{
	height: 126px;
	width: 962px;
	position: relative; /* so that lower-level elements can be absolutely positioned */
	background-color: #FFF;
	margin-bottom: 0.3em;
}

#heading #name{
	line-height: 0.83em;
	font-weight: 300;
	font-size: 2em;
	width: 300px;
	position: absolute; left: 0px; bottom: 0px;
	margin: 0px 0px 21px 15px;
	display: block;
	color: #666;
	text-decoration: none;
	letter-spacing: -0.01em;
}

#heading #menu{
	background-color: white;
	list-style-type: none;
	position: absolute; right: 0px; bottom: 0px;
}

#heading #menu li{
	float: left;
}

#heading #menu li a{
	display: block;
	color: #666;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.2em;
	background-color: white;
	padding: 78px 27px 22px 27px;
	position: relative; top: 1px;
}

#heading #menu li a.active{
	background-color: #e5e5e5;
}

#heading #menu li a:link, #heading #menu li a:visited{
	text-decoration: none;
}

#heading #menu li a:hover, #heading #menu li a:active{
	background-color: #e5e5e5;
}

#heading #menu li a.active:hover, #heading #menu li a.active:active{
	color: #666;
}

#heading #menu_above{
	position: absolute; top: 0px; left: 0px;
	width: 962px; height: 5px;
	border-bottom: 3px solid #e5e5e5;
	background: #FFF;
}

#heading #menu_below{
	position: absolute; top: 115px; left: 0px;
	width: 962px; height: 14px;
	border-top: 3px solid #e5e5e5;
	background: #FFF;
}

/* page defaults */
.page{
	position: relative; /* so that lower-level elements can be absolutely positioned */
	margin: 1em 0;
	padding: 14px 18px 24px 16px;
	background-color: #f2f2f2;
}

.page h1{
	font-size: 1.55em;
	cursor: default;
	margin-bottom: 0.7em;
	color: #000;
}

.page img{
	background: white; /* for transparent png's */
	border: 4px solid #e5e5e5;
}

.page .imglabel{
	color: #666;
	font-size: 0.7em;
	cursor: default;
}

.page p, .page ol, .page ul{
	line-height: 1.4em;
	margin: 0 0 1em 0;
}

.page ol ol, .page ul ul, .page ol ul, .page ul ol{
	line-height: inherit;
	font-size: inherit;
}

.page ol.margin li, .page ul.margin li{
	margin-left: 1em;
	margin-bottom: 0.5em;
	position: relative; top: -0.25em;
}

.page span, .page strong{
	line-height: inherit;
	font-size: inherit;
	margin-bottom: inherit;
}

.page strong{
	font-weight: bold;
}

.page blockquote{
	margin-left: 3em;
	margin-right: 2em;
	margin-bottom: 1em;
	font-style: italic;
}

.page blockquote p{
	color: gray;
}

.page blockquote span{
	line-height: inherit;
	font-size: inherit;
	margin: inherit;
	color: inherit;
}

/* 404 */
.page #not_found ul{
	line-height: 1.40em;
	font-size: 0.9em;
	margin-top: 0.8em;
	margin-bottom: 1.6em;
	padding-left: 32px;
}

/* homepage */
.homepage{
	margin-top: 0.7em !important;
}

.homepage #promo_img{
	width: 960px;
	height: 580px;
}

.homepage #promo_img img{
	width: 960px;
	height: 580px;
	border: 0;
}

.homepage #promo_img{
    cursor: default;
}

.homepage p.title{
	margin-top: 1px;
}

.homepage p.details{
	margin-top: 2px;
}

.homepage .jshowoff-slidelinks{
	position: absolute; right: 0px;
}

.homepage .jshowoff-slidelinks a{
	margin: 7px 5px;
	display: inline-block;
	background-color: #e5e5e5;
	color: #666;
	text-decoration: none;
	border-top: 10px solid #e5e5e5;
	border-bottom: 8px solid #e5e5e5;
	width: 38px;
	text-align: center;
}

.homepage .jshowoff-slidelinks .jshowoff-active{
	background-color: #666;
	border-top: 10px solid #666;
	border-bottom: 8px solid #666;
	color: white;
}

/* portfolio */
.portfolio{
	margin-top: 0.7em !important;
}

.portfolio a{
	margin: 0px 2px;
	text-decoration: none;
}
	
.portfolio img{
	width: 460px;
	height: 300px;
	border: 4px solid #e5e5e5;
}

.portfolio .odd{
	float: left;
}

.portfolio .even{
	float: right;
}

.portfolio p.title{
	margin: 6px 0 0 7px;
	font-size: 1.05em;
}

.portfolio p.details{
	margin: 2px 0 22px 7px;
}

/* portfolio detail */
.detail{
	margin: 0 6px;
}

.detail #info{
	margin-bottom: 8px;
}

.detail #info h1{
	font-style: italic;
	margin-bottom: 6px;
	position: relative; left: -1px;
}

.detail #info p{
	margin: 0px;
	line-height: 1.35em;
}

.detail iframe{
	background-color: #e5e5e5;
}

.detail #description{
	border-bottom: 4px solid #e5e5e5;
	padding-right: 2em;
	margin-top: 12px;
}

.detail #description p{
	line-height: 1.35em;
	margin-bottom: 1em;
}

/* resume */
#resume{
	position: relative;
}

#resume .section{
	padding: 12px 16px;
	margin-top: 12px;
}

#resume .section th{
	text-align: left;
	font-size: 1.05em;
	height: 35px;
	font-weight: 400;
}

#resume .section td{
	vertical-align: top;
}

#resume .section td.year{
	width: 70px;
}

#resume .section td p{
	margin: 0.3em 0 0 0;
}

/* about */
.about{
	padding: 12px 16px;
	background-color: white;
}

.about #detail_img{
	float: right;
	margin: 0 1em 2em 2.5em;
	position: relative; top: 8px;
}

.about #detail_img .aboutimg{
	font-size: 0.65em;
	margin-right: 4px;
	text-align: right;
}

.about #detail_img .aboutimg a, .about_page #detail_img .aboutimg .title{
	color: inherit;
}

/* blog */
.blog_page #main{
	width: 630px;
	float: left;
}

/* blog - main */
.blog_page #main h1{
	height: 24px;
	margin: 0.3em 0 0.4em 0;
}

.blog_page #main h1 a:link, .blog_page #main h1 a:visited{
	text-decoration: none;
	color: black;
}

.blog_page #main h1 a:hover, .blog_page #main h1 a:active{
	text-decoration: underline;
	color: #15a6ab;
}

.blog_page #main ol, .blog_page #main ul{
	margin-left: 2em;
}

.blog_page #main span.blogdate{
	margin-bottom: 0;
	color: #666;
	font-size: 0.9em;
	display: block;
}

.blog_page #main div#paging{
	text-align: center;
}

/* blog - main - 'Showing posts tagged with ... ' */
.blog_page *{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 0.0025em;
}

.blog_page #main p.info{
	font-size: 0.9em;
}

.blog_page #main p.info{
	color: #666;
	font-weight: bold;
	cursor: default;
	font-size: 0.8em;
}

.blog_page #main p.info a.remove{
	font-size: 0.8em;
}

/* blog - main - subscribe rss */
.blog_page #main #subscribe_section{
	float: right;
	position: relative; right: -14px; top: -2px;
}

.blog_page #main #subscribe_section a img{
	border: 0;
	margin: 0;
	height: 20px; width: 20px;
	position: relative; top: 3px; right: 1px;
}

/* blog - main - code articles */
.blog_page #main code{
	font-family: "Courier New", Courier, monospace;
}

.blog_page #main p.code{
	background-color: #fff;
	border: 3px #e5e5e5 dashed;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	font-weight: bold;
	font-size: 0.95em;
	color: #666;
}

.blog_page #main .spacedlist{
	line-height: 2.25em;
}

.blog_page #main span.backtotop{
	padding-top: 0.875em;
}

.blog_page #main a.linkheader{
	display: block;
	margin-top: 2em;
	padding: 0.5em 0;
	font-size: 1.35em;
	text-align: center;
	border-top: 4px solid #e5e5e5;
	border-bottom: 4px solid #e5e5e5;
}

.blog_page #main a.linkheader:link, .blog_page #main a.linkheader:visited{
	color: black;
}

.blog_page #main a.linkheader:hover, .blog_page #main a.linkheader:active{
	color: #15a6ab;
}

.blog_page #main table.displaytable{
	background: white;
	border: 2px solid #e5e5e5;
	border-collapse: collapse;
	margin-bottom: 1.2em;
}

.blog_page #main table.displaytable td, .blog_page #main table.displaytable tr{
	border: 2px solid #e5e5e5;
	margin: 0px; padding: 0.5em;
	border-collapse: collapse;
}

/* blog - main - media elements */
.blog_page #main img{
	margin-bottom: 1em;
}

/* vimeo, youtube */
.blog_page #main iframe{
	margin-top: 0.7em;
	margin-bottom: 1.5em;
}

/* blogger img */
.blog_page #main td.tr-caption{
	font-size: 0.7em;
	color: #666;
	margin-top: 0.8em;
}

.blog_page #main td.tr-caption a{
	color: inherit;
	text-decoration: none;
}

.blog_page #main td.tr-caption a:hover, .blog_page #main td.tr-caption a:active{
	text-decoration: underline;
}

.blog_page #main table.tr-caption-container{
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

.blog_page #main table.tr-caption-container img{
	margin-bottom: 0;
}

/* blogger analytics */
.blog_page #main div.blogger-post-footer{
	display: inline;
}

.blog_page #main div.blogger-post-footer img{
	border: 0;
}

/* blog - categories - (side & main) */
.blog_page #main ul.categories{
	margin-left: 0;
}

.blog_page #main ul.categories li{
	margin: 0 0.2em 0.1em 0;
	font-size: 0.8em;
}

.blog_page ul.categories{
	list-style-type: none;
}

.blog_page ul.categories li{
	float: left;
	margin: 0 2px 0 0;
	line-height: 20px;
}

.blog_page ul.categories li a{
	color: #666;
	background: #e5e5e5;
	text-decoration: none;
	padding: 0.2em 0.4em;
}

.blog_page ul.categories li a.selected, a.category{
	color: #f2f2f2;
	background: #666;
	text-decoration: none;
	padding: 0.2em 0.4em;
}

.blog_page ul.categories li a:hover, ul.categories li a:active{
	color: #f2f2f2;
	background: #666;
}

/* blog - side */
.blog_page #side{
	margin-top: 26px;
	border-left: 2px solid #e5e5e5;
	padding-left: 18px;
	width: 250px;
	float: right;
}

.blog_page #side h2{
	padding-bottom: 0.3em;
	background-color: #f2f2f2;
	font-size: 1.1em;
}

/* blog - side - tagcloud */
.blog_page #side #tagcloud_section #tagcloud{
	height: 150px;
	overflow: hidden;
}

.blog_page #side #tagcloud_section #tagcloud ul{
	margin: 0px; padding: 0px; border: 0px;
}

.blog_page #side #tagcloud_section #tagcloud ul li{
	font-size: 0.75em;
}

.blog_page #side #tagcloud_section a#tags-down, .blog_page #side #tagcloud_section a#tags-up{
	padding: 0px 120px;
	background: #e5e5e5;
	float: left;
	height: 16px;
	margin: 1px 0px;
}

.blog_page #side #tagcloud_section a#tags-down img, .blog_page #side #tagcloud_section a#tags-up img{
	background: none;
}

/* blog - side - list */
.blog_page #side #list_section{
	margin-top: 39px;
}

.blog_page #side #list_section p{
	font-size: 0.8em;
	margin: 0px;
}

.blog_page #side #list_section ul{
	margin: 0 12px 1em 18px;
	list-style-image: url('../img/liststyle.png');
}

.blog_page #side #list_section li{
	margin: 0.3em 0px;
	font-size: 0.9em;
}

.blog_page #side #list_section li a{
	line-height: 0.4em;
}

.blog_page #side #list_section li.current{
	cursor: default;
}