$padding: 9px;

body {
	>header {
		height: 155px;
		background: $offwhite;
		position: relative;

		h1 {
			display: block;
			font-weight: 300;
			letter-spacing: -0.02em;
			position: absolute; bottom: 0; left: 0;
			text-align: left;
			font-size: 3.55em;
			line-height: 0.83em;
			width: 7em;
			margin: 0 0 0.05em 0;

			a {
				padding: 14px 18px;
				text-decoration: none;
				text-transform: uppercase;
				display: block;
				width: 100%; height: 100%;

				.sub {
					text-transform: lowercase;
				}

				.shift {
					position: relative; left: 0.08em;
				}
			}
		}

		nav {
			position: absolute; bottom: 0; right: 0;

			#menu-button {
				display: none !important;
			}

			h2 {
				display: none;
			}

			li {
				padding: 0.83em 0;
				margin-left: 0.1em;
			}

			.cta {
				margin-right: 0.9em;
			}

			.cta a {
				padding-top: inherit;
				padding-bottom: inherit;
				padding-left: $padding;
				padding-right: $padding;
				font-weight: 300;
			}

			.cta a:link, .cta a:visited {
				i {
					color: $lightgrey;
					transform: scale(1);
					transition: all 0.1s ease-in-out;
				}
			}

			.cta a:hover, .cta a:active {
				i {
					color: $offblack;
					transform: scale(1.35);
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	body {
		>header {
			h1 {
				padding: 0;
				font-size: 3.4em;
			}

			nav {
				li {
					padding: 0.8em 0;
					margin-left: 0.5em;
				}

				.cta a {
					font-size: 1.7em;
					padding-left: 0.5em;
					padding-right: 0.5em;
				}
			}
		}
	}
}

@media (max-width: 639px) {
	body {
		>header {
			height: 116px;

			>h1 {
				font-size: 2.4em;
			}
		}
	}
}

@media (max-width: 499px) {
	body {
		>header {
			height: 110px;

			h1 {
				font-size: 2.2em;
			}
		}
	}
}

@media (max-width: 399px) {
	body {
		>header {
			nav ul {
				display: none;
			}
		}
	}
}