$largest_font: 1.2em;
$large_font: 1.15em;
$medium_font: 1.125em;
$small_font: 1.05em;

$large_spacing: 0.05em;
$small_spacing: 0.03em;

$large_lineheight: 1.8em;
$small_lineheight: 1.7em;

$offwhite: #fcfcfc;
$offblack: #444;
$lightgrey: #999;