#not-found {
	background-color: #f6f6f6;

	#image {
		position: relative;

		h1 {
			display: none;
		}

		figure {
			background: url('/images/about/long-700.jpg');
			background-position: 30% center;
			background-size: cover;
			width: 100%; height: 100%;
			position: absolute;
		}
	}

	main {
		min-height: 600px;
	}
}

@media (max-width: 899px) {
	#not-found {
		main {
			min-height: 0;
		}
	}
}