#about {
	#image {
		position: relative;

		h1 {
			display: none;
		}

		figure {
			background: url('/images/about/long-700.jpg');
			background-position: 30% center;
			background-size: cover;
			width: 100%; height: 100%;
			position: absolute;
		}
	}

	main article {
		a:link, a:visited {
			text-decoration: none;
		}

		a:hover, a:active {
			text-decoration: underline;
		}
	}
}