.content {
	main {
		background-color: #f6f6f6;
		font-weight: 300;
		padding-bottom: 1em;

		article, .description {
			padding: 1.6em 5.1em 0 0;
			max-width: 42em;
		}

		article, .description, #paging, .cta {
			padding-left: 4.7em;
		}

		#paging li {
			line-height: 3em;
		}

		h1 {
			font-weight: normal;
		}
	}

	main.index, main.full-width {
		width: 100%;

		article {
			max-width: inherit;
		}
	}

	main.index article {
		padding: 0;
	}

	.flex-row {
		display: flex;
		flex-flow: row;

		.left {
			width: 60%;
			flex: 0 0 auto;
		}

		.right {
			flex: 1 1 auto;
		}
	}
}

@media (max-width: 1299px) {
	.content {
		main {
			article, .description {
				padding: 1.2em 3.7em 0 0;
			}

			article, .description, #paging, .cta {
				padding-left: 4.1em;
			}
		}
	}
}

@media (max-width: 1099px) {
	.content {
		main {
			article, .description {
				padding: 1.1em 3.1em 0 0;
			}

			article, .description, #paging, .cta {
				padding-left: 3.5em;
			}
		}
	}
}

@media (max-width: 899px) {
	.content {
		.flex-row {
			.left {
				padding-right: 12%;
				width: 88%;
			}

			.right {
				display: none;

				figure {
					background: inherit;
				}
			}
		}

		main {
			article, .description {
				padding: 1.8em 3em 0 0;
			}

			article, .description, #paging, .cta {
				padding-left: 4.9em;
			}
		}

		#paging {
			padding-left: 4em;
		}
	}
}

@media (max-width: 799px) {
	.content {
		.flex-row {
			.left {
				padding-right: 0;
				width: 100%;
			}
		}

		main {
			article, .description {
				padding-right: 5.4em;
			}
		}
	}
}

@media (max-width: 709px) {
	.content {
		main {
			article, .description {
				padding: 1em 3.2em 0 0;
			}

			article, .description, #paging, .cta {
				padding-left: 3.2em;
			}
		}
	}
}

@media (max-width: 639px) {
	.content {
		main {
			article, .description {
				padding: 0.5em 1.8em 0 0;
			}

			article, .description, #paging, .cta {
				padding-left: 1.8em;
			}
		}
	}
}