#works {
	main.index {
		padding: 0;

		ul {
			text-align: justify;
			width: 100%;

			li {
				display: inline-block;
				width: 49.45%;
				margin-bottom: 0.5%;

				a {
					text-decoration: none;

					figure {
						display: inline-block;
						width: 100%;

						img {
							width: 100%;
						}
					}
				}
			}
		}

		ul:after{
			content: '';
			display: inline-block;
			width: 100%;
		}
	}

	main {
		figure {
			width: 66%;
			max-width: 61em;

			.description {
				padding: 1.6em 0;
			}
		}
	}
}

@media (max-width: 1479px) {
	#works {
		main figure {
			width: 55em;
		}
	}
}

@media (max-width: 1099px) {
	#works {
		main figure {
			width: 96%;
		}
	}
}

@media (max-width: 799px) {
	#works {
		main.index {
			ul {
				text-align: center;
				padding-top: 0.7em;

				li {
					width: 94%;
					margin: 0.6em auto;
				}
			}
		}

		main figure {
			width: 100%;
		}
	}
}

@media (max-width: 449px) {
	#works {
		main.index {
			ul {
				padding-top: 0.7em;

				li {
					width: 100%;
					margin: 0.6em auto;
				}
			}
		}
	}
}