#works {
	main.index {
		padding: 0;

		ul {
			text-align: justify;
			width: 100%;
			padding: 0;
			font-size: inherit;
			line-height: inherit;

			li {
				display: inline-block;
				width: 49.45%;
				margin-bottom: 0.5%;

				a {
					text-decoration: none;

					figure {
						display: inline-block;
						width: 100%;

						img {
							width: 100%;
						}
					}
				}
			}
		}

		ul:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
	}

	main {
		figure {
			width: 66%;
			max-width: 61em;

			.description {
				padding: 1.6em 0;

				.note {
					font-weight: bold;
					font-style: italic;
					font-size: 0.95em;
					padding: 0;
					position: absolute;
					right: 0;

					span {
						position: relative;
						top: -2em;
					}
				}

				img {
					border: 4px solid #e8e8e8;
					max-width: 54.5em;
					margin: 1.4em 0;
				}

				ul, ol {
					margin-left: 1.1em;
				}
			}

			.description.with-note {
				padding-top: 2.3em;
			}
		}

		table {
			margin-top: 1.15em;

			tr {
				td {
					padding: 0;

					ul {
						font-size: inherit;
						list-style: none;
						padding: 0 0 1em 0;

						li {
							padding-bottom: 0.65em;
							line-height: 1.15em;
						}
					}
				}

				td.label {
					padding-right: 1.2em;
				}
			}
		}
	}
}

@media (max-width: 1479px) {
	#works {
		main figure {
			width: 55em;
		}
	}
}

@media (max-width: 1099px) {
	#works {
		main figure {
			width: 96%;

			.description img {
				width: 100%;
			}
		}
	}
}

@media (max-width: 799px) {
	#works {
		main.index {
			ul {
				text-align: center;
				padding-top: 0.7em;

				li {
					width: 94%;
					margin: 0.6em auto;
				}
			}
		}

		main figure {
			width: 100%;
		}
	}
}

@media (max-width: 449px) {
	#works {
		main.index {
			ul {
				padding-top: 0.7em;

				li {
					width: 100%;
					margin: 0.6em auto;
				}
			}
		}
	}
}