#about {
	main {
		width: 48%;
	}

	#image {
		position: relative;

		h1 {
			display: none;
		}

		figure {
			background: url(/images/about/long-700.jpg);
			background-position: center center;
			background-size: cover;
			width: 100%; height: 100%;
			position: absolute;

			figcaption {
				background: #ffffff;
				margin: 1.5em;
				padding: 0.5em 0.8em;
				position: absolute; bottom: 0; right: 0;
			}
		}
	}
}


@media (max-width: 1299px) {
	#about {
		main #map {
			margin: 0 0.5em 0 2.1em;
		}
	}
}

@media (max-width: 1099px) {
	#about {
		address, #when {
			font-weight: 400;
		}

		main #map {
			width: 46%;
			padding-top: 53%;
		}
	}
}

@media (max-width: 899px) {
	#about {
		main #map {
			width: 95%;
			padding-top: 40%;
			float: left;
			margin: 0.1em 10em 1.7em 0;
		}
	}
}

@media (max-width: 639px) {
	#about {
		main #map {
			width: 100%;
		}
	}
}

@media (max-width: 499px) {
	#about main #map {
		padding-top: 65%;
	}
}