#about {
	main {
		width: 48%;
	}

	#image {
		position: relative;

		h1 {
			display: none;
		}

		figure {
			background: url(/images/about/long-700.jpg);
			background-position: 30% center;
			background-size: cover;
			width: 100%; height: 100%;
			position: absolute;
		}
	}
}

@media (max-width: 1299px) {
	#about {
		main {
			width: 52%;
		}
	}
}
@media (max-width: 899px) {
	#about {
		main {
			width: 100%;

			#image figure {
				background: inherit;
			}
		}
	}
}

@media (max-width: 639px) {
	#about {
		main #map {
			width: 100%;
		}
	}
}

@media (max-width: 499px) {
	#about main #map {
		padding-top: 65%;
	}
}