#blog {
	.left {
		article {
			header {
				.widgets {
					padding: 1em 0;

					ul {
						list-style-type: none;
						margin-top: 1.2em; 

						li {
							display: inline;
							margin-right: 0.8em;

							a:link, a:visited {
								opacity: 0.20;
								filter: alpha(opacity=20);
							}

							a:hover, a:active {
								opacity: 0.9;
								filter: alpha(opacity=90);
							}

							i {
								font-size: 1.6em;
							}
						}
					}
				}
			}

			/* blogspot legacy... */
			.tr-caption-container {
				margin-bottom: 2em;
			}

			.tr-caption {
				padding-top: 1em;
			}

			figure {
				img, iframe {
					width: 98%;
					border: 4px solid #e8e8e8;
				}

				figcaption {
					margin-top: 0.5em;
					text-align: center;
				}
			}

			.read-more {
				display: block;
				margin-top:	1.2em;
				font-size: 1.4em;
			}

			hr.separator {
				margin: 2.7em 0 0.9em 0;
			}
		}
	}

	.right {
		padding: 6em;

		nav {
			h1 {
				display: none;
			}

			h2 {
				margin-bottom: 1.3em;
				font-size: 1.2em;
			}

			ul {
				margin-bottom: 4em;

				li {
					list-style-image: url('/images/blog/liststyle.png');
					margin: 0 0 1.5em 1.02em;

					a {
						font-weight: 300;
						letter-spacing: 0.03em;
						font-size: 1.1em;
					}
				}
			}
		}
	}
}

@media (max-width: 1299px) {
	#blog {
		.right {
			padding: 4.5em;

			nav ul li a {
				font-size: 1.05em;
			}
		}
	}
}

@media (max-width: 1099px) {
	#blog {
		.right {
			padding: 3.4em;

			nav ul li a {
				font-size: 1em;
			}
		}
	}
}

@media (max-width: 1019px) {
	#blog {
		.left {
			width: 100%;
		}

		.right {
			display: none;
		}
	}
}