$largest_font: 1.2em;
$large_font: 1.15em;
$medium_font: 1.1em;
$small_font: 1.05em;

$large_spacing: 0.04em;
$small_spacing: 0.03em;

$large_lineheight: 1.8em;
$small_lineheight: 1.7em;

html, body {
	width: 100%; height: 100%;
	background-color: #e8e8e8;
}

a {
	transition: color 0.12s;
}

a:link, a:visited {
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

header h1 {
	a:link, a:visited {
		text-decoration: none;
	}
}

h1 {
	font-size: 2.2em;
	margin-top: 1em;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}

p {
	font-size: $largest_font;
	letter-spacing: $large_spacing;
	line-height: $small_lineheight;
	padding: 1em 0;
}

time {
	font-size: 1em;
	padding-top: 0.15em;
}

blockquote {
	font-style: italic;

	p {
		letter-spacing: 0.05em;
		word-spacing: 0.03em;
		font-style: italic;
	}
}

// This should actually be inside 'figure' below, but this makes
// it backwards-compatible with tables from imported content
.video, .post-content>div {
	display: block;
	position: relative;
	width: 100%; height: 0;
	padding-bottom: 57%;

	>iframe {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}
}

figure {
	position: relative;

	.ratio-55 {
		padding-bottom: 55.25%;
	}

	.ratio-56 {
		padding-bottom: 56.25%;
	}

	.ratio-59 {
		padding-bottom: 59.65%;
	}

	.ratio-71 {
		padding-bottom: 71.15%;
	}

	.ratio-80 {
		padding-bottom: 80%;
	}
}

figcaption.label {
	background: #ffffff;
	margin: 1.5em;
	padding: 0.5em 0.8em;
	position: absolute; bottom: 0; right: 0;
	font-weight: 400;

	a {
		text-decoration: none;
	}
}

.center {
	width: 100%;
	text-align: center;
}

.hide {
	display: none;
}

.title {
	font-style: italic;
}

.col-2 {
	display: inline;

	img {
		display: inline-block;
		width: 42% !important;
		margin: 0 1.5%;
	}
}

.no-margin {
	margin: 0;
}

.fa-times {
	display: none;
}

.cta {
	a {
		font-size: 2em;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0.3em 0.6em;
		letter-spacing: 0.05em;
		white-space: nowrap;
	}

	a:link, a:visited {
		background-color: #829192;
		color: #ffffff;
	}

	a:hover, a:active {
		background-color: #e9e9e9;
		color: #444444;
	}
}

ul.cta, ol.cta {
	list-style-type: none;
}

ul.cta li, ol.cta li {
	display: inline-block;
}

main {
	.cta {
		margin: 3em 0 5em 0;

		li {
			margin-bottom: 1em;
		}

		a {
			font-size: 1.8em;
			margin-right: 0.2em;
			text-decoration: none;
		}
	}
}

@media (max-width: 1299px) {
	p {
		font-size: $large_font;
	}

	h1 {
		font-size: 2.05em;
	}

	h2, .more {
		font-size: 1.6em;
	}

	time {
		font-size: 0.95em;
		padding-top: 0.2em;
	}

	main .cta a {
		font-size: 1.73em;
	}
}

@media (max-width: 1099px) {
	h1 {
		font-size: 1.8em;
		margin-bottom: 0.3em;
	}

	h2, .more {
		font-size: 1.4em;
	}

	p {
		font-size: $medium_font;
		line-height: $large_lineheight;
		padding: 0.6em 0;
	}

	main .cta a {
		font-size: 1.6em;
	}

	time {
		font-size: 0.88em;
		padding-top: 0.3em;
	}
}

@media (max-width: 899px) {
	main .cta {
		padding-bottom: 3em;
		margin-bottom: 0.7em;
	}

	hr {
		margin-bottom: 0;
	}
}

@media (max-width: 499px) {
	p {
		font-size: $small_font;
		letter-spacing: $small_spacing;
		line-height: $small_lineheight;
	}

	hr {
		margin-bottom: 0.8em;
	}
}