#home {
	display: flex;
	flex-flow: column;

	h1, h2, p {
		cursor: default;
	}

	>section {
		font-size: 1.2em;
		text-align: center;
		line-height: 1.5em;
		width: 100%;
	}

	#homepage {
		flex: 1 0 auto;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/full-bleed/gravity-1600.jpg);
		background-position: center center;
		background-size: cover;
	}
}

@media (max-width: 1299px) {
	#home {
		#homepage {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-1299.jpg);
			background-position: center center;
			background-size: cover;
		}

		>p {
			font-size: 2.15em;
		}
	}
}

@media (max-width: 1099px) {
	#home {
		#homepage {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-1099.jpg);
			background-position: center center;
			background-size: cover;
		}

		>p {
			font-size: 2.05em;
		}
	}
}

@media (max-width: 899px) {
	#home {
		#homepage {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-899.jpg);
			background-position: center center !important;
			background-size: cover;

			nav {
				display: block;
			}
		}

		>header {
			height: 96%;
			position: relative;
		}
	}
}

@media (max-width: 639px) {
	#home {
		#homepage {
			background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) ), url(/images/full-bleed/lab-1-639.jpg);
			background-position: bottom center !important;
			background-size: cover;
		}

		>p {
			padding-top: 2.2em;
			padding-bottom: 2.2em;
		}
	}
}